<div class="mainContainer">
    <div fxLayout="column" fxLayoutAlign="space-around start">
        <span>
            <br>Dr. {{data.doctor.name[0].family}} {{data.doctor.name[0].given[0]}}
            <br>{{data.doctor.address[0].line[0]}} {{data.doctor.address[0].postalCode}} {{data.doctor.address[0].city}}
            <br>Tel: {{data.doctor.telecom[0].value}}
            <br>
            <br>Le {{data.ordonnance.authoredOn | date}} à {{data.doctor.address[0].city}}
        </span>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around end">
        <span>
            <p *ngIf="data.patient.gender === 'male'">
                M. {{data.patient.name[0].family}} {{data.patient.name[0].given[0]}}
            </p>
            <p *ngIf="!data.patient.gender === 'male'">
                Mme. {{data.patient.name[0].family}} {{data.patient.name[0].given[0]}}
            </p>
        </span>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <span>
            {{data.ordonnance.dosageInstruction[0].text}}
        </span>
    </div>
    <div fxLayout="column" fxLayoutAlign="end end" id="end">
        <span>
            <br>Signature
            <br>Dr. {{data.doctor.name[0].family}} {{data.doctor.name[0].given[0]}}
        </span>
    </div>
</div>