.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar {
  height: 150px;
}

.logo {
  top: 10px;
  width: 140px;
  height: 140px;
}

.item {
  padding-bottom: 10px;
}

.icon {
  &.user {
    padding-right: 9px;
  }
  &.cog {
    padding-right: 9px;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  height: 150px;
  background-image: url('../../assets/footer.svg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 100%;
  background-position-x: center;
  background-position-y: bottom;
}

.mat-toolbar.mat-primary {
  background-image: url('../../assets/header.svg');
  background-color: transparent;
  background-size: cover;
}