<mat-sidenav-container class="sidenav-container ">
  <mat-sidenav #drawer class="sidenav customBar" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <img class="logo" src="../../assets/pozkfe.png">
    </mat-toolbar>
    <mat-nav-list>
      <div class="item">
        <a mat-list-item href="/patients">
          <fa-icon class="icon user" size="1x" icon="user"></fa-icon>Mes patients
        </a>
      </div>
      <div class="item">
        <a mat-list-item href="/informations">
          <fa-icon class="icon cog" size="1x" icon="cog"></fa-icon>Informations
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <div class="footer">

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

