<mat-expansion-panel class="patientCard">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div class="initials" [ngStyle]="{'background-color': this.color}">{{initials}}</div>
            <div><span *ngIf="patient.name" class="patientName">{{patient.name[0].given[0]}}
                    {{patient.name[0].family}}</span></div>
            <!-- <div> <span class="patientBirthday">{{patient.birthDate | date }}</span></div> -->
        </mat-panel-title>
        <mat-panel-description>
            <!-- {{patient.birthDate | date }} -->
        </mat-panel-description>
    </mat-expansion-panel-header>

    <div fxLayout="column" fxLayoutAlign="space-around start" class="patientDetail">
        <div>
            <span class="subject">
                adresse :
            </span>
            <span *ngIf="patient.address && patient.address[0].text" class="object">
                {{patient.address[0].text}}
            </span>
            <span *ngIf="patient.address[0] && !patient.address[0].text" class="object">
                non renseigné
            </span>
        </div>
        <div class="w100">
            <div fxLayout="row">
                <div fxFlex="60">
                    <span class="subject">
                        numéro de téléphone:
                    </span>
                    <!-- we have a number -->
                    <ng-container *ngIf="patient.telecom">
                        <ng-container *ngFor="let telecom of patient.telecom">
                            <span *ngIf="telecom.use === 'mobile' && telecom.value" class="object">
                                {{telecom.value}}
                            </span>
                        </ng-container>
                    </ng-container>

                    <span *ngIf="!patient.telecom" class="object">
                        non renseigné
                    </span>
                </div>
                <div fxFlex="40">
                    <span class="subject">
                        age :
                    </span>
                    <span class="object">
                        {{patientAge}} ans
                    </span>
                </div>
            </div>
        </div>

        <div class="w100">
            <div fxLayout="row">
                <div fxFlex="60">
                    <span class="subject">
                        date de naissance :
                    </span>
                    <span class="object">
                        {{patient.birthDate | date }}
                    </span>
                </div>
                <div fxFlex="40">
                    <span class="subject">
                        sexe :
                    </span>
                    <span class="object">
                        {{gender}}
                    </span>
                </div>
            </div>
        </div>

        <div class="w100" id="allergies">
            <div fxLayout="row">
                <span class="subject">
                    allergies :
                </span>
            </div>
            <div fxLayout="row" class="itemList" *ngIf="patient.allergies">
                <ng-container *ngIf="patient.allergies.length > 0">
                    <span class="item" *ngFor="let allergy of patient.allergies">
                        {{allergy}}
                    </span>
                </ng-container>
                <span *ngIf="patient.allergies.length == 0" class="object">
                    Aucune allergie connue
                </span>

            </div>
        </div>


        <div class="w100" id="ordonnances">
            <div fxLayout="row">
                <span class="subject">
                    ordonnances :
                </span>
            </div>
            <div fxLayout="row" class="itemList" *ngIf="patient.ordonnances">
                <ng-container *ngIf="patient.ordonnances.length > 0">
                    <ng-container *ngFor="let ordonnance of patient.ordonnances">
                        <span (click)="openOrdonnance(ordonnance.id)" class="item ordonnance">
                            <fa-icon class="icon white" size="1x" icon="file"></fa-icon>
                            {{ordonnance.authoredOn | date}}
                        </span>
                    </ng-container>
                </ng-container>
                <span *ngIf="patient.ordonnances.length === 0" class="object">
                    Aucune ordonnance disponible
                </span>
                <fa-icon class="icon plus" size="1x" icon="plus" (click)="openDialog()"></fa-icon>
            </div>
        </div>
        
    </div>
</mat-expansion-panel>