.bouton {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0), 0 6px 10px 0 rgba(0, 0, 0, 0), 0 1px 18px 0 rgba(0, 0, 0, 0) !important;
  margin-right: 1rem;
}

;

.patientCard {
  margin-top: 0.75rem;
}

.plusIcon {
  margin-right: 0.5rem;
}

.initials {
  color: white;
  border-radius: 50%;
  margin-right: 1rem;
  line-height: 30px;
  width: 30px;
  text-align: center;
  text-transform: uppercase;
  // box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
}

.patientName {
  font-weight: bold;
  margin-right: 1rem;
}

.patientBirthday {
  color: #4E79BC;
}

.patientDetail {
  margin-left: calc(1rem + 30px);
}

.subject {
  color: #85CDB3;
  font-weight: bold;
}

.object {
  color: #4E79BC;
  font-weight: bold;
}

.w100 {
  width: 100%;
}

#allergies {
  margin-top: 1rem;
}

.item {
  padding: 0 6px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  background: #d3ddee;
  text-transform: uppercase;
  border-radius: 10px;
  color: #4E79BC;
  margin-right: 0.25rem;
}

.itemList {
    margin-top: 0.75rem!important;
    margin-bottom: 0.75rem!important;
}

.white {
  color: white;
}

.ordonnance:hover {
  cursor: pointer;
}

.icon {
  &.plus {
    transition: all .4s ease-in-out;
    color: #4E79BC;
    margin-left: 5px;
    &:hover {
      transform: rotateZ(90deg);
      cursor: pointer;
    }
  }
}

