<div fxLayout="row" fxLayoutAlign="space-evenly center">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Equipe de développement</mat-card-title>
      <mat-card-subtitle>Très très fort</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Ilona Pradel - Maincare Solutions</p>
      <mat-divider [inset]="true"></mat-divider>
      <p>Anthony Dagneaux - Qwant</p>
      <mat-divider [inset]="true"></mat-divider>
      <p>Hugo Sage - Eole Consulting</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Equipe métier</mat-card-title>
      <mat-card-subtitle>Très très fort</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Rayane Benabdeljalil - Lifen</p>
      <mat-divider [inset]="true"></mat-divider>
      <p>Marine Crenn - Google</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Tuteurs Pédagogiques</mat-card-title>
      <mat-card-subtitle>Très très beaux</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Ludovic Yol - Eole Consulting</p>
      <mat-divider [inset]="true"></mat-divider>
      <p>Aurélien Gaston - Eole Consulting</p>
    </mat-card-content>
  </mat-card>
</div>
