<div fxLayout="column" fxLayoutAlign="space-around center" class="mainContainer">
    <form style="width: 80%">
        <fa-icon class="icon" size="1x" icon="search"></fa-icon>
        <mat-form-field>
            <input class="text" matInput placeholder="Rechercher" name="filtre" [(ngModel)]="search">

        </mat-form-field>

    </form>
    <div *ngFor="let patient of patients;" class="patientCard">
        <ng-container *ngIf="patient.name && !patient.name[0].text && checkContains(patient)">
            <pozkfe-patients-list [patient]="patient" [doctor]="doctor" (update)="onUpdate($event)"></pozkfe-patients-list>
        </ng-container>
    </div>
</div>