<form (submit)="send()" [formGroup]="formPrescription">
    <div fxLayout="row">
        <mat-form-field class='mat-field'>
            <input matInput placeholder="Nom" formControlName="familyName" [(ngModel)]="data.patient.name[0].family">
        </mat-form-field>
        <mat-form-field class='mat-field'>
            <input matInput placeholder="Prénom" formControlName="givenName"
                [(ngModel)]="data.patient.name[0].given[0]">
        </mat-form-field>
    </div>
    <div fxLayout="row">
        <mat-form-field class='mat-field'>
            <input matInput [matDatepicker]="picker" placeholder="Date de naissance"
                [value]="data.patient.birthDate | date:'yyyy-MM-dd'">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class='mat-field'>
            <mat-label>Sexe</mat-label>
            <mat-select formControlName="gender" [(ngModel)]="data.patient.gender">
                <mat-option *ngFor="let g of sexes" [value]="g.value">
                    {{g.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="row">
        <mat-form-field class='mat-field'>
            <mat-label>Médicaments</mat-label>
            <mat-select formControlName="medication" (selectionChange)="checkAllergie($event)">
                <mat-option *ngFor="let med of medicaments" [value]="med.value">
                    {{med.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class='mat-field'>
            <input matInput placeholder="Dosage" formControlName="dosage">
        </mat-form-field>
        <mat-form-field class='mat-field'>
            <mat-label>Unité de dosage</mat-label>
            <mat-select formControlName="dosageUnit">
                <mat-option *ngFor="let un of unite" [value]="un">
                    {{un}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="row">
        <mat-form-field class='mat-field'>
            <input matInput placeholder="Quantité" formControlName="rateQty">
        </mat-form-field>
        <mat-form-field class='mat-field'>
            <mat-label>Forme</mat-label>
            <mat-select formControlName="route">
                <mat-option *ngFor="let md of modes" [value]="md">
                    {{md}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class='mat-field'>
            <mat-label>Prise</mat-label>
            <mat-select (selectionChange)="setSelectedPeriod($event)" formControlName="repeat">
                <mat-option *ngFor="let tps of temps" [value]="tps.viewValue">
                    {{tps.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <mat-chip-list>
        <mat-chip *ngIf="allergique" class="text" color="warn" selected>Le patient est allergique à une substance de ce médicament
            {{selectedMed.agentActif}}</mat-chip>
    </mat-chip-list>
    <button mat-raised-button color="primary" type="submit" [disabled]="disabled">Valider</button>
</form>