/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
}

.mat-toolbar.mat-primary {
    background-color: #85CDB3;
}

.mat-drawer-container {
    background-color: white;
}